<!DOCTYPE html>
<html lang="en" ng-app="DockerPlay" ng-controller="PlayController">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Play With Docker</title>
    <link rel="stylesheet" crossorigin="anonymous" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons"/>
    <link rel="stylesheet" crossorigin="anonymous" href="https://unpkg.com/angular-material@1.1.10/angular-material.min.css"/>
    <link rel="stylesheet" crossorigin="anonymous" href="/assets/xterm/xterm.css"/>
    <link rel="stylesheet" crossorigin="anonymous" href="/assets/xterm/addons/fullscreen/fullscreen.css"/>
    <link rel="stylesheet" crossorigin="anonymous" href="/assets/style.css"/>
  </head>
  <body>
    <div layout="column" style="height:100%;" ng-cloak>
      <section id="sessionEnd" layout="row" flex ng-if="!isAlive">
        <md-content flex layout-padding ng-if="!instances.length">
          <div layout="column" layout-align="top center">
            <p>
              <strong>Your session has expired.</strong>
            </p>
          </div>
          <div flex></div>
        </md-content>
      </section>
      <section ng-if="!connected" class="disconnected" layout="row" layout-align="center center">
        <h1 class="md-headline">No connection to server. Reconnecting...</h1>
        <md-progress-circular class="md-hue-2" md-diameter="20px"></md-progress-circular>
      </section>
      <section id="popupContainer" layout="row" flex ng-if="isAlive">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4" layout="column">
          <md-toolbar class="md-theme-indigo">
            <span class="clock">{{ttl}}</span>
            <md-button class="md-warn md-raised" ng-click="closeSession()">Close Session</md-button>
            <div class="md-toolbar-tools">
              <h1 class="md-toolbar-tools">Instances</h1>
            </div>
          </md-toolbar>
          <md-content layout-padding>
            <md-button ng-click="newInstance()" ng-disabled="isInstanceBeingCreated" class="md-primary">{{newInstanceBtnText}}</md-button>
            <md-list class="md-dense" flex>
              <md-list-item ng-switch on="instance.isManager || instance.isK8sManager" class="md-2-line" ng-repeat="instance in instances | orderBy:'hostname'" ng-click="showInstance(instance)" ng-class="instance.name == selectedInstance.name ? 'selected' : false">
                <md-icon ng-switch-when="true" style="color: blue" md-svg-icon="person"></md-icon>
                <md-icon ng-switch-when="false" md-svg-icon="person-outline"></md-icon>
                <div class="md-list-item-text" layout="column">
                  <h3>{{instance.ip}}</h3>
                  <h4>{{instance.hostname}}</h4>
                </div>
                <md-button class="md-icon-button md-warn" ng-click="deleteInstance(instance)" ng-disabled="isInstanceBeingDeleted" aria-label="Delete Instance">
                  <md-icon class="material-icons">delete</md-icon>
                  <md-tooltip md-direction="left">Delete Instance</md-tooltip>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
          </md-content>
        </md-sidenav>
        <md-content flex layout-padding ng-if="!instances.length">
          <div layout="column" layout-align="top center">
            <p>Add instances to your playground.</p>
            <p><strong>Sessions and all their instances are deleted after {{ttl}} hours.</strong></p>
          </div>
          <div flex></div>
        </md-content>
        <md-content flex layout="column" ng-repeat="instance in instances" ng-show="instance.name == selectedInstance.name" ngf-drop class="drop-box" ngf-drag-over-class="'dragover'" ngf-max-size="100000000" ngf-change="uploadFiles($files, $invalidFiles)" ngf-multiple="true">
          <md-card class="stats" md-theme="default" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{instance.name}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div layout-gt-sm="row">
                <md-input-container class="md-icon-float md-block">
                  <label>IP</label>
                  <input ng-model="instance.ip" type="text" readonly="readonly">
                </md-input-container>
                <md-button class="md-raised" ng-click="openPort(instance)">
                  Open Port
                </md-button>
                <md-chips ng-model="instance.ports" name="port" readonly="true" md-removable="false">
                  <md-chip-template>
                    <strong><a href="{{getProxyUrl(instance, $chip)}}" title="{{getProxyUrl(instance, $chip)}}" target="_blank">{{$chip}}</a></strong>
                  </md-chip-template>
                </md-chips>
                <md-chips ng-model="instance.swarmPorts" name="port" readonly="true" md-removable="false">
                  <md-chip-template>
                    <strong><a href="{{getProxyUrl(instance, $chip)}}" title="{{getProxyUrl(instance, $chip)}}" target="_blank">{{$chip}}</a></strong>
                  </md-chip-template>
                </md-chips>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>CPU</label>
                  <input ng-model="instance.cpu" type="text" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Memory</label>
                  <input ng-model="instance.mem" type="text" readonly="readonly">
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                  <label>SSH</label>
                  <input value="ssh -i keyfile_{{instance.hostname}}_{{instance.session_id}}.pem {{instance.proxy_host}}@{{playground.l2_subdomain}}.{{playground.domain}} -p {{playground.l2_ssh_port}}" type="text" readonly="readonly" size="60">
                  <md-icon ngclipboard data-clipboard-text="ssh -i keyfile_{{instance.hostname}}_{{instance.session_id}}.pem {{instance.proxy_host}}@{{playground.l2_subdomain}}.{{playground.domain}} -p {{playground.l2_ssh_port}}" class="material-icons">content_copy
                </md-input-container>
                <md-button class="md-accent md-raised" ng-click="downloadKey(instance)">
                  <md-icon class="material-icons">vpn_key</md-icon> Download SSH Key
                </md-button>
                <div class="md-block" glex-gt-sm></div>
              </div>
              <div layout-gt-sm="row">
                <md-button class="md-primary md-raised" ng-click="openEditor(instance)">
                  <md-icon class="material-icons">insert_drive_file</md-icon> File Editor
                </md-button>
                <settings-icon></settings-icon>
                <div class="md-block" glex-gt-sm></div>
              </div>
            </md-card-content>
          </md-card>
          <md-card flex md-theme="default" md-theme-watch >
            <div ng-show="uploadMessage" class="uploadStatus">
              <md-progress-linear  md-mode="determinate" value="{{uploadProgress}}"></md-progress-linear>
              <div class="bottom-block">
                <span>{{uploadMessage}}</span>
              </div>
            </div>
            <div ng-show="instance.status=='reconnect'" class="uploadStatus">Connection has been lost. Sometimes this happens when a windows instance is joining a swarm. Trying to reconnect terminal...</div>
            <id class="terminal-container container-{{instance.name}}">
              <div class="terminal-instance" id="terminal-{{instance.name}}"></div>
            </id>
          </md-card>
        </md-content>
      </section>
    </div>
    <div style="visibility: hidden;">
      <div class="md-dialog-container" id="builderDialog">
        <md-dialog>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Session stack builder</h2>
              <span flex></span>
            </div>
          </md-toolbar>
          <md-dialog-content layout-padding>
            <div flex="100" style="margin: 20px 0px;">
              We are building your stack. This might take a while.<br/>
            </div>
            <div id="builder-terminal"  style="height: 450px; width: 800px">
            </div>
            <div layout="row" ng-if="ready">
              <div flex="100" style="margin-top: 20px; text-align:center; font-weight: bold; color: green;">
                Your session is ready!
              </div>
            </div>
          </md-dialog-content>
          <md-dialog-actions layout="row" ng-if="ready">
            <span flex></span>
            <md-button ng-click="closeSessionBuilder()">
              Close
            </md-button>
          </md-dialog-actions>
        </md-dialog>
      </div>
    </div>
    <script type="text/ng-template" id="settings-modal.html">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Settings</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="$ctrl.close()">
            <md-icon class="material-icon" aria-label="Close dialog">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content" style="width:600px;">
          <div layout="row">
            <div flex="50">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Keyboard Shortcut Preset</label>
                <md-select ng-model="$ctrl.currentShortcutConfig" ng-model-options="{getterSetter: true}" placeholder="Keyboard shortcut prefix">
                  <md-option ng-repeat="preset in $ctrl.keyboardShortcutPresets" value="{{preset}}">
                    {{preset.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div flex="10"></div>
            <div flex="40">
              <div ng-if="$ctrl.selectedShortcutPreset">
                Preset details:
                <ul>
                  <li ng-if="$ctrl.selectedShortcutPreset.presets.length == 0">No presets defined</li>
                  <li ng-repeat="preset in $ctrl.selectedShortcutPreset.presets">
                    <code>{{preset.command}}</code> - {{preset.description}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div layout="row">
            <div flex="50">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Terminal Font Size</label>
                <md-select ng-model="$ctrl.currentTerminalFontSize" ng-model-options="{getterSetter: true}">
                  <md-option ng-repeat="size in $ctrl.terminalFontSizes" value="{{size}}">
                    {{ size }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="$ctrl.close()">
          Close
        </md-button>
      </md-dialog-actions>
    </script>
    <script type="text/ng-template" id="instance-modal.html">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Add New Instance</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="$ctrl.close()">
            <md-icon class="material-icon" aria-label="Close dialog">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content" style="width:500px; padding: 20px;">
          <div layout="column">
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
              <label>Instance Image</label>
              <input ng-model="$ctrl.selectedImage" type="text" value="$ctrl.selectedImage" ng-trim>
            </md-input-container>
            <div layout="row" layout-align="space-between center">
              <md-input-container class="md-block" flex-gt-sm>
                <label>CPU</label>
                <input type="number" ng-model="$ctrl.limitCPU" min="0.5" max="4" step="0.5" required>
                <div class="hint">Max: 4 Cores</div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Memory</label>
                <input type="number" ng-model="$ctrl.limitMemory" min="512" max="8192" step="512" required>
                <div class="hint">Max: 8192 MB (8 GB)</div>
              </md-input-container>
            </div>
            <div style="margin-top: 10px; padding: 10px; background: #f5f5f5; border-radius: 4px;">
              <p style="margin: 0; font-size: 12px; color: #666;">
                <strong>Note:</strong> Choose appropriate values based on your workload requirements.
              </p>
            </div>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="$ctrl.close()">
          Cancel
        </md-button>
        <md-button ng-click="$ctrl.create()" class="md-primary md-raised" ng-disabled="!$ctrl.selectedImage || !$ctrl.limitCPU || !$ctrl.limitMemory">
          Create
        </md-button>
      </md-dialog-actions>
    </script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/reconnectingwebsocket@1.0.0/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/angular@1.5.5/angular.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/angular-animate@1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/angular-aria@1.5.5/angular-aria.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/angular-messages@1.5.5/angular-messages.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/angular-material@1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/ngclipboard@2.0.0/dist/ngclipboard.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/ng-file-upload@12.2.13/dist/ng-file-upload-all.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="/assets/xterm/xterm.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="/assets/xterm/addons/fit/fit.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="/assets/xterm/addons/fullscreen/fullscreen.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="/assets/setup-xterm.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="/assets/attach.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://unpkg.com/moment@2.16.0/min/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="/assets/app.js"></script>
    <script type="text/javascript" charset="utf-8">
      window.onbeforeunload = function (e) {
        e = e || window.event;
        if (e) {
          e.returnValue = 'Make sure you saved your session URL';
        }
        return 'Make sure you saved your session URL';
      };
    </script>
  </body>
</html>
